<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Company</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{% url 'customer' %}">Customers</a>
      <a class="nav-item nav-link" href="{% url 'seller' %}">Sellers</a>
      <a class="nav-item nav-link" href="{% url 'product' %}">Products</a>
      <a class="nav-item nav-link" href="{% url 'order' %}">Orders</a>
        <a class="nav-item nav-link">|</a>
        <a class="nav-item nav-link" href="{% url 'find_1' %}">Task №1</a>
        <a class="nav-item nav-link" href="{% url 'find_2' %}">Task №2</a>
        <a class="nav-item nav-link" href="{% url 'find_3' %}">Task №3</a>
        <a class="nav-item nav-link" href="{% url 'find_4' %}">Task №4</a>
        <a class="nav-item nav-link" href="{% url 'find_5' %}">Task №5</a>
        <a class="nav-item nav-link">|</a>
        {% if request.user.is_authenticated %}
        <div class="navbar-nav">
            <li class="nav-item d-flex">
                <a class="nav-link" href="/auth/profile_edit">Edit profile</a>
            </li>
            <li class="nav-item d-flex">
                <a class="nav-link" href="/auth/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/auth/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/register">Register</a>
            </li>
        </div>
        {% endif %}
        </ul>
        {% if request.user.is_authenticated %}
        <li class="nav-link">Привет, <strong>
            <a href="#">{{ request.user.username }}</a>!
        </strong></li>
        {% endif %}
    </div>
  </div>
</nav>
  {% block content %}

  {% endblock %}
</body>
</html>